<!-- header -->
<div class="mainHeaader">
    <div class="content">
        <h1>Welcome To Our shop </h1>
        <h5 class="my-3"> Wish You Happy shopping </h5>
        <button class="shop me-3" routerLink="/Prouduct">Shop Now</button>
        <button class="contact" routerLink="/CONTACT-US">Contact us</button>
    </div>
    <img src="../../assets/images/free.jpeg" alt="">
</div>
<!-- product -->
<div class="container">
    <app-home-product></app-home-product>
</div>
<!-- saving section -->
<section class="saving_section  mt-5">
    <div class="box  ">
        <div class="detail-box">
            <div class="heading_container">
                <h2>Best Savings on <br> new arrivals</h2>
            </div>
            <p>
                Qui ex dolore at repellat, quia neque doloribus omnis <br> adipisci, ipsum eos odio fugit ut eveniet blanditiis praesentium totam non <br>nostrum dignissimos nihil eius facere et eaque. Qui, animi obcaecati.
            </p>
            <button class="btn-box " routerLink="/Prouduct"> Buy Now</button>
        </div>
    </div>
</section>
<!-- end saving section -->
<app-why-us></app-why-us>
<app-testimonial></app-testimonial>
<app-contact-us></app-contact-us>
