.box {
    width: 90%;
    background-color: white;
    margin: 100px auto;
    height: 300px;
}

li {
    font-size: 22px;
    margin: 20px 0px;
}

h4 {
    color: gray;
}

img {
    width: 50%;
    min-height: 300px;
}
