<!-- Header -->
<header class="header shop">
    <div class="header-inner">
        <div class="container">
            <div class="d-flex justify-content-center">
                <nav class="navbar navbar-expand-lg">
                    <ul class="nav main-menu menu navbar-nav ms-5">
                        <li><a routerLink="/home" routerLinkActive="active">Home <span class="sr-only "></span></a></li>
                        <li><a routerLink="/Prouduct" routerLinkActive="active">Product</a></li>
                        <li><a routerLink="/why us" routerLinkActive="active">Why Us </a></li>
                        <li><a routerLink="/CONTACT-US" routerLinkActive="active">Contact Us</a> </li>
                        <li><a routerLink="/cart" routerLinkActive="active"> Cart</a> </li>
                    </ul>
                </nav>
                <!--/ End Main Menu -->
            </div>
        </div>
    </div>

</header>
<!--/ End Header -->
